<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>716186927772-316ql3o7prlimmfk3qjh7q90953gso89.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.716186927772-316ql3o7prlimmfk3qjh7q90953gso89</string>
	<key>API_KEY</key>
	<string>AIzaSyBC8yfWglT7rLHG5ThtnCQJouIHw9J8fVo</string>
	<key>GCM_SENDER_ID</key>
	<string>716186927772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>YanbingPersonal.JavaCoffee</string>
	<key>PROJECT_ID</key>
	<string>javacoffee-7f6a9</string>
	<key>STORAGE_BUCKET</key>
	<string>javacoffee-7f6a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:716186927772:ios:038ba7eb4ca57d51f92359</string>
	<key>DATABASE_URL</key>
	<string>https://javacoffee-7f6a9.firebaseio.com</string>
</dict>
</plist>